@charset "utf-8";

:root {
    --lunar-space-inline: 32px;
    --lunar-space-block: 32px;
    --lunar-space-block-large: 64px;
}
:root {
    font-size: 18px;
    line-height: 1.8;
}
p {
    text-indent: 1rem;
}
a {
    color: inherit;
}

/* padding left and right for smartphone */
.site-header > *,
main > * {
    padding-inline: var(--lunar-space-inline) !important;
    box-sizing: content-box !important;
}

/* site header */
.site-header > h1 {
    font-size: 8rem;
}
@media screen and (max-width: 700px) {
    .site-header > h1 {
        font-size: 4rem !important;
    }
}

/* article */
article > header > h2 {
    font-size: 1.2rem;
    border-bottom: 3px solid;
}
article > header > .post-meta {
    font-size: 0.8rem;
    gap: 0.5rem;
}
article > * + * {
    /* spacing between article header and post */
    margin-block-start: 1rem !important;
}
article > .main-text > h3 {
    font-size: 1.2rem;
    background-color: var(--wp--preset--color--header-background);
    padding-inline: 1rem;
    padding-block-start: 3px;
    border-radius: 4px;
    color: var(--wp--preset--color--header-text);
    margin-block-start: 3rem !important;
}
article > .main-text > h4 {
    border-bottom: 2px solid var(--wp--preset--color--header-background);
    margin-block-start: 2rem !important;
}
article > .main-text > * + * {
    margin-block-start: 1.5rem;
}

/* home page */
.post-summaries > * + * {
    margin-block-start: 4rem;
}

/* post page */
.lunar-single-post > * + * {
    margin-block-start: 4rem;
}

/* footer */
.site-footer {
    margin-block-start: 4rem;
}

