@charset "utf-8";

:root {
    --lunar-space-inline: 32px;
    --lunar-space-block: 32px;
    --lunar-space-block-large: 64px;
}

main > section,
.site-header > h1 {
    padding-inline: var(--lunar-space-inline) !important;
    box-sizing: content-box !important;
}

article.post {
    margin-block-start: var(--lunar-space-block);
}

article.post > header {
    margin-block: var(--lunar-space-block);
}

.site-header {
    margin-block-end: var(--lunar-space-block);
}
.post-summaries > * + * {
    margin-block-start: var(--lunar-space-block-large);
}

article.post-summary {
}

@media screen and (max-width: 700px) {
    h1 {
        font-size: 4rem !important;
    }
    h2 {
        font-size: 1.5rem !important;
    }
}
